global
    maxconn 256
    log stdout format raw local0

defaults
    mode http
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend http-in
    bind *:80
    default_backend flask_backends

backend flask_backends
    balance roundrobin
    server app1 app1:80 check
    server app2 app2:80 check
